<div class="top-row pl-5 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="/Image/logo-UTM.png" alt="Logo UTM" width="130" height="40"/></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="suma">
                <span class="oi oi-plus" aria-hidden="true"></span> Calculadora
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="multiplos">
                <span class="oi oi-calculator" aria-hidden="true"></span> Multiplos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="OrdenAscendente">
                <span class="oi oi-list" aria-hidden="true"></span> Orden Ascendente
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="descuento">
                <span class="oi oi-dollar" aria-hidden="true"></span> Descuento
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EstadoDelAgua">
                <span class="oi oi-droplet" aria-hidden="true"></span> Estado Del Agua
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="minusculas">
                <span class="oi oi-text" aria-hidden="true"></span> Minusculas
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
